.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-JZObrD5Ia0KeNS);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__okzgc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R0U2Hb0lcUyHBT);
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 60%;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    max-width: 100%;
  }
}
.freeBox__wzPnx {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 51px;
  min-width: 0;
  padding: 1em 0em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wzPnx {
    padding: 0px;
  }
}
.text__oPb7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__nwUqy {
    font-size: 18px;
    margin: 10px 8px 8px;
  }
}
.form__s9T {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 50%;
  position: relative;
  min-width: 0;
  padding: 10px;
}
.form__s9T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.form__s9T > :global(.__wab_flex-container) > *,
.form__s9T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.form__s9T > :global(.__wab_flex-container) > picture > img,
.form__s9T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .form__s9T {
    max-width: 95%;
    padding-top: 5px;
  }
}
.prenom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qAOiV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bwMmb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.nom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mouGc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___56R0P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.email:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__q949W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__q0PbL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.sujet:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gpv3D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hxbu6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.message:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eZree {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wQpSu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__vpO9 {
  white-space: pre-wrap;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vpO9 {
    font-size: 12px;
  }
}
.link__eGiv2 {
  color: var(--token-R0U2Hb0lcUyHBT);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jeNt9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__daakr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lbqf0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: none;
}
.textmerci__lbqf0NshOl {
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2merci {
    font-size: 20px;
  }
}
.form___9TpRj:global(.__wab_instance) {
  position: relative;
}
.svg__aaL7L {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dVi0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.h1__vJ2Kc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.h1mentions__vJ2KcnW20P {
  display: block;
}
.text__yNrfB {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 800px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  min-width: 0;
  min-height: 0;
}
.textmentions__yNrfBnW20P {
  display: block;
}
.ul {
  display: flex;
  flex-direction: column;
}
.li__jheyx {
  margin-top: 6px;
}
.link__qm4V {
  color: var(--token-R0U2Hb0lcUyHBT);
}
.freeBox___2Zx4T {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-R0U2Hb0lcUyHBT);
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Zx4T {
    padding: 2px;
  }
}
.text___9IJVq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-JZObrD5Ia0KeNS);
  font-weight: 600;
}
.freeBox__bpy69 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__bpy69 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__bpy69 > :global(.__wab_flex-container) > *,
.freeBox__bpy69 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bpy69 > :global(.__wab_flex-container) > picture > img,
.freeBox__bpy69
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.link__vfRrI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.svg__swCyq {
  object-fit: cover;
  width: 35px;
  height: 35px;
  color: var(--token-JZObrD5Ia0KeNS);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__swCyq {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
.link__ya6Fi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.svg__miXy0 {
  object-fit: cover;
  width: 35px;
  height: 35px;
  color: var(--token-JZObrD5Ia0KeNS);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__miXy0 {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
.link___5QWeH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.svg___8Uc2N {
  object-fit: cover;
  width: 35px;
  height: 35px;
  color: var(--token-JZObrD5Ia0KeNS);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___8Uc2N {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
.link__osPQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.svg__ys5SU {
  object-fit: cover;
  width: 35px;
  height: 35px;
  color: var(--token-JZObrD5Ia0KeNS);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ys5SU {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
