@import url("https://fonts.googleapis.com/css2?family=Raleway%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Rubik%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&display=swap");

.plasmic_tokens {
  --token-JZObrD5Ia0KeNS: #fcfbfb;
  --plasmic-token-white: var(--token-JZObrD5Ia0KeNS);
  --token-R0U2Hb0lcUyHBT: #2f54a5;
  --plasmic-token-primary: var(--token-R0U2Hb0lcUyHBT);
  --token-btd1ck_UtSaJSt: #564972;
  --plasmic-token-secondary: var(--token-btd1ck_UtSaJSt);
  --token-EteNyzl31eQRYo: #010101;
  --plasmic-token-black: var(--token-EteNyzl31eQRYo);
}

.plasmic_default_styles {
  --mixin-5Aea3rR1fDdpd_font-family: "Raleway", sans-serif;
  --mixin-5Aea3rR1fDdpd_font-size: 16px;
  --mixin-5Aea3rR1fDdpd_font-weight: 400;
  --mixin-5Aea3rR1fDdpd_font-style: normal;
  --mixin-5Aea3rR1fDdpd_color: var(--token-EteNyzl31eQRYo);
  --mixin-5Aea3rR1fDdpd_text-align: left;
  --mixin-5Aea3rR1fDdpd_text-transform: none;
  --mixin-5Aea3rR1fDdpd_letter-spacing: 1px;
  --mixin-5Aea3rR1fDdpd_white-space: pre-wrap;
  --mixin-5Aea3rR1fDdpd_user-select: text;
  --mixin-5Aea3rR1fDdpd_text-decoration-line: none;
  --mixin-5Aea3rR1fDdpd_text-overflow: clip;
  --mixin-d3m1eWuWcoWYX_font-weight: 600;
  --mixin-d3m1eWuWcoWYX_font-size: 30px;
  --mixin-d3m1eWuWcoWYX_line-height: 1;
  --mixin-d3m1eWuWcoWYX_letter-spacing: 0px;
  --mixin-d3m1eWuWcoWYX_text-align: center;
  --mixin-d3m1eWuWcoWYX_color: var(--token-R0U2Hb0lcUyHBT);
  --mixin-d3m1eWuWcoWYX_margin-top: 10px;
  --mixin-d3m1eWuWcoWYX_margin-right: 10px;
  --mixin-d3m1eWuWcoWYX_margin-bottom: 10px;
  --mixin-d3m1eWuWcoWYX_margin-left: 10px;
  --mixin-d3m1eWuWcoWYX_white-space: pre-wrap;
  --mixin-9CIN8IxZqzM9p_color: var(--token-R0U2Hb0lcUyHBT);
  --mixin-9CIN8IxZqzM9p_font-weight: 600;
  --mixin-9CIN8IxZqzM9p_font-size: 40px;
  --mixin-9CIN8IxZqzM9p_line-height: 1.1;
  --mixin-9CIN8IxZqzM9p_letter-spacing: -1px;
  --mixin-9CIN8IxZqzM9p_text-align: center;
  --mixin-9CIN8IxZqzM9p_margin-top: 10px;
  --mixin-9CIN8IxZqzM9p_margin-right: 10px;
  --mixin-9CIN8IxZqzM9p_margin-bottom: 10px;
  --mixin-9CIN8IxZqzM9p_margin-left: 10px;
  --mixin-9CIN8IxZqzM9p_white-space: pre-wrap;
  --mixin-Vv4A_-55AgUDn_text-transform: none;
  --mixin-Vv4A_-55AgUDn_color: var(--token-R0U2Hb0lcUyHBT);
  --mixin-Vv4A_-55AgUDn_font-weight: 600;
  --mixin-Vv4A_-55AgUDn_white-space: pre-wrap;
  --mixin-oYSNWFHFUOQDP_font-family: "Inter", sans-serif;
  --mixin-oYSNWFHFUOQDP_color: #000000;
  --mixin-oYSNWFHFUOQDP_font-size: 32px;
  --mixin-oYSNWFHFUOQDP_font-weight: 600;
  --mixin-oYSNWFHFUOQDP_letter-spacing: -0.8px;
  --mixin-oYSNWFHFUOQDP_line-height: 1.2;
  --mixin-oYSNWFHFUOQDP_white-space: pre-wrap;
  --mixin-J_eUVDwlua8Pk_font-family: "Inter", sans-serif;
  --mixin-J_eUVDwlua8Pk_color: #000000;
  --mixin-J_eUVDwlua8Pk_font-size: 24px;
  --mixin-J_eUVDwlua8Pk_font-weight: 600;
  --mixin-J_eUVDwlua8Pk_letter-spacing: -0.5px;
  --mixin-J_eUVDwlua8Pk_line-height: 1.3;
  --mixin-J_eUVDwlua8Pk_white-space: pre-wrap;
  --mixin-4OYAQfe1RW6l4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4OYAQfe1RW6l4_border-bottom-color: #dddddd;
  --mixin-4OYAQfe1RW6l4_border-bottom-style: solid;
  --mixin-4OYAQfe1RW6l4_border-bottom-width: 1px;
  --mixin-4OYAQfe1RW6l4_border-left-color: #dddddd;
  --mixin-4OYAQfe1RW6l4_border-left-style: solid;
  --mixin-4OYAQfe1RW6l4_border-left-width: 1px;
  --mixin-4OYAQfe1RW6l4_border-right-color: #dddddd;
  --mixin-4OYAQfe1RW6l4_border-right-style: solid;
  --mixin-4OYAQfe1RW6l4_border-right-width: 1px;
  --mixin-4OYAQfe1RW6l4_border-top-color: #dddddd;
  --mixin-4OYAQfe1RW6l4_border-top-style: solid;
  --mixin-4OYAQfe1RW6l4_border-top-width: 1px;
  --mixin-4OYAQfe1RW6l4_border-bottom-left-radius: 3px;
  --mixin-4OYAQfe1RW6l4_border-bottom-right-radius: 3px;
  --mixin-4OYAQfe1RW6l4_border-top-left-radius: 3px;
  --mixin-4OYAQfe1RW6l4_border-top-right-radius: 3px;
  --mixin-4OYAQfe1RW6l4_font-family: "Inconsolata";
  --mixin-4OYAQfe1RW6l4_padding-bottom: 1px;
  --mixin-4OYAQfe1RW6l4_padding-left: 4px;
  --mixin-4OYAQfe1RW6l4_padding-right: 4px;
  --mixin-4OYAQfe1RW6l4_padding-top: 1px;
  --mixin-4OYAQfe1RW6l4_white-space: pre-wrap;
  --mixin-Nb98SLibEPgZS_border-left-color: #dddddd;
  --mixin-Nb98SLibEPgZS_border-left-style: solid;
  --mixin-Nb98SLibEPgZS_border-left-width: 3px;
  --mixin-Nb98SLibEPgZS_color: #888888;
  --mixin-Nb98SLibEPgZS_padding-left: 10px;
  --mixin-Nb98SLibEPgZS_white-space: pre-wrap;
  --mixin--4HLLix-OCmbo_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--4HLLix-OCmbo_border-bottom-color: #dddddd;
  --mixin--4HLLix-OCmbo_border-bottom-style: solid;
  --mixin--4HLLix-OCmbo_border-bottom-width: 1px;
  --mixin--4HLLix-OCmbo_border-left-color: #dddddd;
  --mixin--4HLLix-OCmbo_border-left-style: solid;
  --mixin--4HLLix-OCmbo_border-left-width: 1px;
  --mixin--4HLLix-OCmbo_border-right-color: #dddddd;
  --mixin--4HLLix-OCmbo_border-right-style: solid;
  --mixin--4HLLix-OCmbo_border-right-width: 1px;
  --mixin--4HLLix-OCmbo_border-top-color: #dddddd;
  --mixin--4HLLix-OCmbo_border-top-style: solid;
  --mixin--4HLLix-OCmbo_border-top-width: 1px;
  --mixin--4HLLix-OCmbo_border-bottom-left-radius: 3px;
  --mixin--4HLLix-OCmbo_border-bottom-right-radius: 3px;
  --mixin--4HLLix-OCmbo_border-top-left-radius: 3px;
  --mixin--4HLLix-OCmbo_border-top-right-radius: 3px;
  --mixin--4HLLix-OCmbo_font-family: "Inconsolata";
  --mixin--4HLLix-OCmbo_padding-bottom: 3px;
  --mixin--4HLLix-OCmbo_padding-left: 6px;
  --mixin--4HLLix-OCmbo_padding-right: 6px;
  --mixin--4HLLix-OCmbo_padding-top: 3px;
  --mixin--4HLLix-OCmbo_white-space: pre-wrap;
  --mixin-hXW2jk9gsbTI-_font-family: "Rubik", sans-serif;
  --mixin-hXW2jk9gsbTI-_font-weight: 500;
  --mixin-hXW2jk9gsbTI-_font-size: 20px;
  --mixin-hXW2jk9gsbTI-_white-space: pre-wrap;
  --mixin-aBBqCsNBQqQME_font-family: "Inter", sans-serif;
  --mixin-aBBqCsNBQqQME_color: #000000;
  --mixin-aBBqCsNBQqQME_font-size: 20px;
  --mixin-aBBqCsNBQqQME_font-weight: 600;
  --mixin-aBBqCsNBQqQME_letter-spacing: -0.3px;
  --mixin-aBBqCsNBQqQME_line-height: 1.5;
  --mixin-aBBqCsNBQqQME_white-space: pre-wrap;
  --mixin-Q3w0fhllEuC7d_display: flex;
  --mixin-Q3w0fhllEuC7d_flex-direction: column;
  --mixin-Q3w0fhllEuC7d_align-items: stretch;
  --mixin-Q3w0fhllEuC7d_justify-content: flex-start;
  --mixin-Q3w0fhllEuC7d_list-style-position: outside;
  --mixin-Q3w0fhllEuC7d_padding-left: 40px;
  --mixin-Q3w0fhllEuC7d_position: relative;
  --mixin-Q3w0fhllEuC7d_list-style-type: decimal;
  --mixin-Q3w0fhllEuC7d_white-space: pre-wrap;
  --mixin-soBuh50NPaWxR_display: flex;
  --mixin-soBuh50NPaWxR_flex-direction: column;
  --mixin-soBuh50NPaWxR_align-items: stretch;
  --mixin-soBuh50NPaWxR_justify-content: flex-start;
  --mixin-soBuh50NPaWxR_list-style-position: outside;
  --mixin-soBuh50NPaWxR_padding-left: 40px;
  --mixin-soBuh50NPaWxR_position: relative;
  --mixin-soBuh50NPaWxR_list-style-type: disc;
  --mixin-soBuh50NPaWxR_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-5Aea3rR1fDdpd_font-family);
  font-size: var(--mixin-5Aea3rR1fDdpd_font-size);
  font-weight: var(--mixin-5Aea3rR1fDdpd_font-weight);
  font-style: var(--mixin-5Aea3rR1fDdpd_font-style);
  color: var(--mixin-5Aea3rR1fDdpd_color);
  text-align: var(--mixin-5Aea3rR1fDdpd_text-align);
  text-transform: var(--mixin-5Aea3rR1fDdpd_text-transform);
  letter-spacing: var(--mixin-5Aea3rR1fDdpd_letter-spacing);
  white-space: var(--mixin-5Aea3rR1fDdpd_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-weight: var(--mixin-d3m1eWuWcoWYX_font-weight);
  font-size: var(--mixin-d3m1eWuWcoWYX_font-size);
  line-height: var(--mixin-d3m1eWuWcoWYX_line-height);
  letter-spacing: var(--mixin-d3m1eWuWcoWYX_letter-spacing);
  text-align: var(--mixin-d3m1eWuWcoWYX_text-align);
  color: var(--mixin-d3m1eWuWcoWYX_color);
  margin: var(--mixin-d3m1eWuWcoWYX_margin-top)
    var(--mixin-d3m1eWuWcoWYX_margin-right)
    var(--mixin-d3m1eWuWcoWYX_margin-bottom)
    var(--mixin-d3m1eWuWcoWYX_margin-left);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-9CIN8IxZqzM9p_color);
  font-weight: var(--mixin-9CIN8IxZqzM9p_font-weight);
  font-size: var(--mixin-9CIN8IxZqzM9p_font-size);
  line-height: var(--mixin-9CIN8IxZqzM9p_line-height);
  letter-spacing: var(--mixin-9CIN8IxZqzM9p_letter-spacing);
  text-align: var(--mixin-9CIN8IxZqzM9p_text-align);
  margin: var(--mixin-9CIN8IxZqzM9p_margin-top)
    var(--mixin-9CIN8IxZqzM9p_margin-right)
    var(--mixin-9CIN8IxZqzM9p_margin-bottom)
    var(--mixin-9CIN8IxZqzM9p_margin-left);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  text-transform: var(--mixin-Vv4A_-55AgUDn_text-transform);
  color: var(--mixin-Vv4A_-55AgUDn_color);
  font-weight: var(--mixin-Vv4A_-55AgUDn_font-weight);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-oYSNWFHFUOQDP_font-family);
  color: var(--mixin-oYSNWFHFUOQDP_color);
  font-size: var(--mixin-oYSNWFHFUOQDP_font-size);
  font-weight: var(--mixin-oYSNWFHFUOQDP_font-weight);
  letter-spacing: var(--mixin-oYSNWFHFUOQDP_letter-spacing);
  line-height: var(--mixin-oYSNWFHFUOQDP_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-J_eUVDwlua8Pk_font-family);
  color: var(--mixin-J_eUVDwlua8Pk_color);
  font-size: var(--mixin-J_eUVDwlua8Pk_font-size);
  font-weight: var(--mixin-J_eUVDwlua8Pk_font-weight);
  letter-spacing: var(--mixin-J_eUVDwlua8Pk_letter-spacing);
  line-height: var(--mixin-J_eUVDwlua8Pk_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-4OYAQfe1RW6l4_font-family);
  border-radius: var(--mixin-4OYAQfe1RW6l4_border-top-left-radius)
    var(--mixin-4OYAQfe1RW6l4_border-top-right-radius)
    var(--mixin-4OYAQfe1RW6l4_border-bottom-right-radius)
    var(--mixin-4OYAQfe1RW6l4_border-bottom-left-radius);
  padding: var(--mixin-4OYAQfe1RW6l4_padding-top)
    var(--mixin-4OYAQfe1RW6l4_padding-right)
    var(--mixin-4OYAQfe1RW6l4_padding-bottom)
    var(--mixin-4OYAQfe1RW6l4_padding-left);
  border-top: var(--mixin-4OYAQfe1RW6l4_border-top-width)
    var(--mixin-4OYAQfe1RW6l4_border-top-style)
    var(--mixin-4OYAQfe1RW6l4_border-top-color);
  border-right: var(--mixin-4OYAQfe1RW6l4_border-right-width)
    var(--mixin-4OYAQfe1RW6l4_border-right-style)
    var(--mixin-4OYAQfe1RW6l4_border-right-color);
  border-bottom: var(--mixin-4OYAQfe1RW6l4_border-bottom-width)
    var(--mixin-4OYAQfe1RW6l4_border-bottom-style)
    var(--mixin-4OYAQfe1RW6l4_border-bottom-color);
  border-left: var(--mixin-4OYAQfe1RW6l4_border-left-width)
    var(--mixin-4OYAQfe1RW6l4_border-left-style)
    var(--mixin-4OYAQfe1RW6l4_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-Nb98SLibEPgZS_color);
  padding-left: var(--mixin-Nb98SLibEPgZS_padding-left);
  border-left: var(--mixin-Nb98SLibEPgZS_border-left-width)
    var(--mixin-Nb98SLibEPgZS_border-left-style)
    var(--mixin-Nb98SLibEPgZS_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin--4HLLix-OCmbo_font-family);
  border-radius: var(--mixin--4HLLix-OCmbo_border-top-left-radius)
    var(--mixin--4HLLix-OCmbo_border-top-right-radius)
    var(--mixin--4HLLix-OCmbo_border-bottom-right-radius)
    var(--mixin--4HLLix-OCmbo_border-bottom-left-radius);
  padding: var(--mixin--4HLLix-OCmbo_padding-top)
    var(--mixin--4HLLix-OCmbo_padding-right)
    var(--mixin--4HLLix-OCmbo_padding-bottom)
    var(--mixin--4HLLix-OCmbo_padding-left);
  border-top: var(--mixin--4HLLix-OCmbo_border-top-width)
    var(--mixin--4HLLix-OCmbo_border-top-style)
    var(--mixin--4HLLix-OCmbo_border-top-color);
  border-right: var(--mixin--4HLLix-OCmbo_border-right-width)
    var(--mixin--4HLLix-OCmbo_border-right-style)
    var(--mixin--4HLLix-OCmbo_border-right-color);
  border-bottom: var(--mixin--4HLLix-OCmbo_border-bottom-width)
    var(--mixin--4HLLix-OCmbo_border-bottom-style)
    var(--mixin--4HLLix-OCmbo_border-bottom-color);
  border-left: var(--mixin--4HLLix-OCmbo_border-left-width)
    var(--mixin--4HLLix-OCmbo_border-left-style)
    var(--mixin--4HLLix-OCmbo_border-left-color);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-hXW2jk9gsbTI-_font-family);
  font-weight: var(--mixin-hXW2jk9gsbTI-_font-weight);
  font-size: var(--mixin-hXW2jk9gsbTI-_font-size);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-aBBqCsNBQqQME_font-family);
  color: var(--mixin-aBBqCsNBQqQME_color);
  font-size: var(--mixin-aBBqCsNBQqQME_font-size);
  font-weight: var(--mixin-aBBqCsNBQqQME_font-weight);
  letter-spacing: var(--mixin-aBBqCsNBQqQME_letter-spacing);
  line-height: var(--mixin-aBBqCsNBQqQME_line-height);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Q3w0fhllEuC7d_display);
  flex-direction: var(--mixin-Q3w0fhllEuC7d_flex-direction);
  align-items: var(--mixin-Q3w0fhllEuC7d_align-items);
  justify-content: var(--mixin-Q3w0fhllEuC7d_justify-content);
  list-style-position: var(--mixin-Q3w0fhllEuC7d_list-style-position);
  padding-left: var(--mixin-Q3w0fhllEuC7d_padding-left);
  position: var(--mixin-Q3w0fhllEuC7d_position);
  list-style-type: var(--mixin-Q3w0fhllEuC7d_list-style-type);
  flex-column-gap: var(--mixin-Q3w0fhllEuC7d_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-soBuh50NPaWxR_display);
  flex-direction: var(--mixin-soBuh50NPaWxR_flex-direction);
  align-items: var(--mixin-soBuh50NPaWxR_align-items);
  justify-content: var(--mixin-soBuh50NPaWxR_justify-content);
  list-style-position: var(--mixin-soBuh50NPaWxR_list-style-position);
  padding-left: var(--mixin-soBuh50NPaWxR_padding-left);
  position: var(--mixin-soBuh50NPaWxR_position);
  list-style-type: var(--mixin-soBuh50NPaWxR_list-style-type);
  flex-column-gap: var(--mixin-soBuh50NPaWxR_flex-column-gap);
}
